body {
    width: 1390px;
    height: 1600px;
}

header {
    width: 1390px;
    height: 700px;
    background: #68085F;
}

main {
    width: 1390px;
    height: 886px;
    background-color: #C509B2;
}

.container-header {
    display: flex;
    width: 1390px;
    height: 100px;
    justify-content: space-around;
    font-family: 'Roboto';
    font-size: 16px;
    align-items: center;
}

.tab-nav {
    display: flex;
    width: 729px;
    text-align: center;
    justify-content: space-around;
    color: #FFFFFF;
}

.menu-item {
    font-family: 'Roboto';
    font-size: 16px;
    width: 60px;
    height: 44px;
    opacity: 0.8;
}

.menu-item:hover {
    cursor: pointer;
    color: #fff;
    outline: 2px solid #f4eff2;
    border: none;
    text-align: center;
    border-radius: 10px;
    opacity: 1.8;
    transform: scale(1.1);
    transition: 1s;

}

.logo {
    height: 40px;
    width: 40px;
}

.register-button {
    width: 119px;
    height: 44px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    margin-top: 1%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    border: 1px solid #7C6AFA;
}

.register-button:hover {
    cursor: pointer;
    color: #fff;
    outline: 2px solid #f4eff2;
    border: none;
    transform: scale(1.1);

}

.container_info {
    width: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    height: 90px;
    font-family: 'Roboto';
    font-size: 64px;
    color: #FFFFFF;
    font-weight: lighter;
}



.container_time {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    display: flex;
    width: 500px;
    font-family: 'Roboto';
    text-align: center;
    color: #FFFFFF;
    width: 300px;
}

.timer-items {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    outline: 1px solid black;
    background-color: black;
    font-family: 'Roboto';
    color: #ffffff;
    opacity: 0.9;
    width: 70px;
    height: 70px;
    text-align: center;
    justify-content: center;
    font-weight: lighter;
    opacity: 0.7;
}

.container_basic {
    height: 700px;
    display: flex;

}

.laptop {
    width: 755px;
    height: 498px;
}

h2 {
    display: flex;
    justify-content: center;
    height: 90px;
    padding: 5%;
    margin: 0;
    font-family: 'Roboto';
    font-size: 34px;
    color: #FFFFFF;
    font-weight: lighter;
    ;


}

.container_cards {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
   
}

.more_button {
    width: 119px;
    height: 44px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    background-color: #C509B2;

}

.more_button:hover {
    cursor: pointer;
    color: #fff;
    outline: 2px solid #f4eff2;
    border: none;
    transform: scale(1.1);
    transition: 1s;
}

p {
    opacity: 0.8;
}