body {
    width: 1390px;
    height: 1600px;
}

header {
    width: 1390px;
    height: 700px;
    background: #68085F;
}

main {
    width: 1390px;
    height: 886px;
    background-color: #C509B2;
}

footer {
    height: 632px;
    background-color: #68085F;
}

.container-header {
    display: flex;
    width: 1390px;
    height: 100px;
    justify-content: space-around;
    font-family: 'Roboto';
    font-size: 16px;
    align-items: center;
}

.tab-nav {
    display: flex;
    width: 729px;
    text-align: center;
    justify-content: space-around;
    color: #FFFFFF;
}

.menu-item {
    font-family: 'Roboto';
    font-size: 16px;
    width: 60px;
    height: 44px;
    opacity: 0.8;
    text-align: center;
}

.menu-item:hover {
    cursor: pointer;
    color: #fff;
    outline: 1px solid #f4eff2;
    border: none;
    text-align: center;
    border-radius: 10px;
    opacity: 1.8;
    transform: scale(1.1);
    transition: 0.5s;

}

.logo {
    height: 40px;
    width: 40px;
}

.register-button {
    width: 119px;
    height: 44px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    margin-top: 1%;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    border: 1px solid #7C6AFA;
}

.register-button:hover {
    cursor: pointer;
    color: #fff;
    outline: 1px solid #f4eff2;
    border: none;
    transform: scale(1.1);
    transition: 0.5s;

}

.container_info {
    width: 1480px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    height: 90px;
    font-family: 'Roboto';
    font-size: 64px;
    color: #FFFFFF;
    font-weight: lighter;
}



.container_time {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    display: flex;
    width: 500px;
    font-family: 'Roboto';
    text-align: center;
    color: #FFFFFF;
    width: 300px;
}

.timer-items {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    outline: 1px solid black;
    background-color: black;
    font-family: 'Roboto';
    color: #ffffff;
    opacity: 0.9;
    width: 70px;
    height: 70px;
    text-align: center;
    justify-content: center;
    font-weight: lighter;
    opacity: 0.7;
}

.label {
    font-size: 16px;
    opacity: 0.3;
    color: #FFFFFF;
}

.container_basic {
    height: 700px;
    display: flex;

}

.laptop {
    width: 755px;
    height: 498px;
}

h2 {
    display: flex;
    justify-content: center;
    height: 90px;
    padding: 5%;
    margin: 0;
    font-family: 'Roboto';
    font-size: 34px;
    color: #FFFFFF;
    font-weight: lighter;
    ;


}

.container_cards {
    display: flex;
    justify-content: space-around;
    color: #FFFFFF;

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;

}

.more_button {
    width: 119px;
    height: 44px;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    border: 1px solid #FFFFFF;
    background-color: #C509B2;

}

.more_button:hover {
    cursor: pointer;
    color: #fff;
    outline: 2px solid #f4eff2;
    border: none;
    transform: scale(1.1);
    transition: 0.5s;
}

p {
    opacity: 0.8;
}

h3 {
    display: flex;
    justify-content: center;
    height: 90px;
    padding-top: 5%;
    margin: 0;
    font-family: 'Roboto';
    font-size: 34px;
    color: #FFFFFF;
    font-weight: lighter;
}

h4 {
    display: flex;
    justify-content: center;
    height: 90px;
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
    font-weight: lighter;
    opacity: 0.5;
}

.container_footer {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 16px;
}

.input_subscribe {
    display: flex;
    position: relative;
    flex-direction: row-reverse;

}

.inputText {
    display: block;
    width: 100%;
    border-radius: 50px;
    width: 353px;
    height: 44px;
    font-size: 16px;
    background-color: #FFFFFF;
    text-align: center;
    opacity: 0.25;
    font-family: 'Roboto';


}

.subscribe_button {
    margin: 1%;
    position: absolute;
    width: 133px;
    height: 44px;
    border-radius: 50px;
    background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
    border: none;
    font-family: 'Roboto';
    color: #FFFFFF;
    font-size: 16px;
    text-align: center;
}

.subscribe_button:hover {
    cursor: pointer;
    color: #fff;
    outline: 1px solid #f4eff2;
    border: none;
    transform: scale(1.1);

}




.social_list {
    width: 300px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}








.social_item {
    height: 50px;
    width: 50px;
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_item:hover {
    color: #fff;
    outline: 2px solid #f4eff2;
    border: none;
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}

.social_item:active {
    background: linear-gradient(94.26deg, #7e35d2 9.51%, #2c18ae 90.23%);
}

.pic_insta {
    width: 50px;
    height: 50px;
}